In [5]:
import sqlite3 as sq
db=sq.connect('employee.db')
print(db)
cur=db.cursor()
print(cur)
cur.execute("create table employee(id int,name varchar(20))")
# cur.executemany("create table deparment(did int,dname varchar(20),dadd varchar(30)",
#                 "create table student(sroll int,sname varchar(30),sphone int(10))")
cur.fetchall()
# cur.fetchone()
# cur.fetchmany()
# db.commit()
db.close()

<sqlite3.Connection object at 0x0000022955481B70>
<sqlite3.Cursor object at 0x000002295547E3C0>

OperationalError: table employee already exists

In [6]:
# configuration

db=sq.connect('student.sqlite3')
cur=db.cursor()

In [8]:
query='''create table student(
sid int primary key,
sname varchar(30),
age int,
phone bigint unique,
email varchar(30),
marks int,
address varchar(40))'''
cur.execute(query)
print(cur.rowcount,'row created')

OperationalError: table student already exists

In [9]:
db.commit()

In [10]:
query='''insert into student(sid,sname,age,phone,email,marks,address)
values(408,'shravs',21,9988776655,'shravs@gmail.com',92,'hyd')'''
cur.execute(query)
print(cur.rowcount,"row created")
db.commit()

IntegrityError: UNIQUE constraint failed: student.phone

In [11]:
query='''select * from student'''
cur.execute(query)
res=cur.fetchall()
for i in res:
    print(i)

(408, 'shravs', 21, 9988776655, 'shravs@gmail.com', 92, 'hyd')

In [13]:
query='''update student set email='sunnyreddy@gmail.com'where sid=408'''
cur.execute(query)
print(cur.rowcount,"row updated")

1 row updated